@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

* {
  margin: 0;
  padding: 0;
}

div.wrapper {
  max-width: 1240px;
  margin: 0 auto;
}


nav {
  background-color: #ddd;
  padding: 10px 0;
  text-align: right;
}

nav a {
  display: inline-block;
  font-size: 22px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: roboto, arial, sans-serif;
  color: brown;
  padding: 10px 15px;
  margin: 0 5px;
}

nav a.btn4 {
  border: 2px solid brown;
  margin-left: 100px;
  margin-right: 50px;
  transition: .15s;
  border-radius: 5px;
  letter-spacing: 2px;
}

nav a:hover {
  border-bottom: 2px solid brown;
}

nav a.btn4:hover {
  background-color: brown;
  color: whitesmoke;
}

header {
  height: 300px;
  background-color: #555
}

main {
  min-height: 50vh;
  background-color: #eee;

}

footer {
  min-height: 100px;
  background-color: #111
}
