* {
  margin: 0;
  padding: ;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  display: inline-block;
  background-color: black;
  color: orangered;
  font-size: 24px;
  font-family: arial;
  text-transform: uppercase;
  width: 260px;
  padding: 20px 0;
  text-align: center;
  border: 5px solid orangered;
  margin: 20px 15px;
  border-radius: 50px;
  transition: 0.15s
}

a:hover {
  background-color: #333;
  color: whitesmoke;
  border-color: black;
}

.buttons {
  text-align: center;
}
