* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 300vh;
}

header {
  position: relative;
  height: 80vh;
  background-image: url("city.jpg");
  background-position: center bottom;
  background-attachment: fixed;
}

h1 {
  position: absolute;
  padding: 20px 0;
  width: 100%;
  text-align: center;
  bottom: 50px;
  font-size: 80px;
  font-family: sans-serif;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
}

section{
  margin: 100px auto 0 auto;
  width: 80vw;
  line-height: 190%;
  font-family: verdana;
}