h3 {
  font-size: 50px;
  color: blue;
}

body {
  font-family: arial;
  margin: 0px;
  color: red;
}

a {
  color: black;
}

p.big.red {
  margin-top: 13px;
  /* 123 */
  color: black;
  font-size: 25px;
}
